- name: Deploy Grafana Monitoring
  hosts: all
  become: true

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: true

    - name: Enable and start Docker
      systemd:
        name: docker
        state: started
        enabled: true

    - name: Run Grafana container
      docker_container:
        name: grafana
        image: grafana/grafana
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
        volumes:
          - grafana-data:/var/lib/grafana